.row
  .col-md-12
    %h4= Date.today.strftime('%A, %b %d')
.row
  .col-md-3
    .well
      %ul.list-group
        -6.times do
          %li.list-group-item
            =Faker::Name.first_name
            .pull-right
              %i.fa.fa-gear
  .col-md-9
    .row
      #adventure-groups
        - @adventure_groups.each do |adventure_group|
          = render partial: 'adventure_groups/show', locals: {adventure_group: adventure_group}
    .row
      .col-md-12
        = link_to 'Add Group', new_adventure_group_path, remote: true


%hr

.well
  #main-calendar

:javascript

  $(function(){
    $('#main-calendar').fullCalendar({
      // put your options and callbacks here
    })
  })
