.row
  .col-md-12
    %h4= Date.today.strftime('%A, %b %d')
.row
  .col-md-3
    .well
      %ul.list-group
        - @clients.each do |client|
          %li.list-group-item
            =client.name
            .pull-right
            .dropdown.pull-right
              %i.fa.fa-truck{"data-toggle" => "dropdown", :type => "button"}
              %ul.dropdown-menu.groups
                =render partial: 'adventure_groups/group_list', locals: { adventure_groups: @adventure_groups }
  .col-md-9
    .row
      #adventure-groups
        - @adventure_groups.each do |adventure_group|
          = render partial: 'adventure_groups/show', locals: {adventure_group: adventure_group}
    .row
      .col-md-12
        = link_to 'Add Group', new_adventure_group_path, remote: true


%hr

.well
  #main-calendar

:javascript

  $(function(){
    $('#main-calendar').fullCalendar({
      // put your options and callbacks here
    })
  })
