-adventure_groups.each do |adventure_group|
  %li
    %a{:href => "#"}
      %strong
        = adventure_group.pack_leader.name
      %small
        = adventure_group.adventure_date.strftime('%l:%M %p')
      .pull-right
        (0)
