.modal-dialog
  .modal-content
    =form_for adventure_group, url: adventure_groups_path(adventure_group), method: :post, remote: true do |f|
      .modal-body
        .form-group
          .row
            = bootstrap_flash
          .row
            .col-md-12
              .form-group
                %label Time
                =f.text_field :adventure_date, class: 'form-control'
              .form-group
                %label Pack Leader
                =f.select :pack_leader_id, options_for_select(PackLeader.all.map{|pl| [pl.name, pl.id]} ), {}, class: 'form-control'
              .form-group
                %label Adventure Type
                =f.select :adventure_type_id, options_for_select(AdventureType.all.map{|pl| [pl.name, pl.id]} ), {}, class: 'form-control'

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        =f.submit 'Add', class: 'btn btn-success'
